*{
    margin: 0;
    padding: 0;
}
.container-style{
    background-color: rgb(220, 201, 223);
    opacity: 0.9;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header li a{
    font-size: 35px;
    text-decoration: none;
}
li{
    list-style: none;
}